#footercontainer {
	display: block;
	position: relative;
	width: 100%;
	padding-top: 60px;
}

#footertext {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 56%;
}

#footerhours, #footerlocation {
	width: 40%;
}

#footerhours {
	float: left;
}

#footerlocation {
	float: right;
}

#footersocial {
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 140px;
	padding-bottom: 60px;
	width: 30%;
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#footersocial img {
	display: inline;
	height: 40px;
	vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: .9em;
	letter-spacing: 0.13em;
	line-height: 1.4em;
}

#footertext p {
	line-height: 1.8em;
	text-align: center;
}
